{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock css %}

{% block content %}
    <nav style="display: flex;flex-direction:row;justify-content:space-between;padding:0% 10% 0 10%;background-color:rgb(252, 252, 252)" class="navbar navbar-dark bg-dark;">
        <div>
            <a class="navbar-brand" href="/">
                <img src="{% static 'images/foodIcon.png' %}" width="70" height="70" alt="" loading="lazy">
            </a>
        </div>
        <div>
            <h1 style="font-family: 'Fredoka One', cursive;letter-spacing:8px;font-size:48px;opacity:1;color:rgb(62, 146, 146)">B-BHUKKAD</h1>
        </div>

        <div>   
            <img src="{% static 'images/pizzaicon.png' %}" alt="" height="40" width="40" style="margin-bottom: 5px;">
            <span style="font-family: 'Nunito', sans-serif; font-size:20px;text-transform:uppercase;padding-left:5px;color:rgb(8, 27, 68);"><b>{{request.user.first_name}}</b></span>
        </div>
    </nav>

    <div style="display: flex;flex-direction:row;justify-content:space-between;">

        <div style="background-color: rgb(238, 228, 228);width:30%;padding:4%;display:flex;flex-direction:column;;">
            <h2>Order history</h2> 
            <div style="opacity: 0.8;">
                {% if orders.count == 1 %}
                    <i><p>Total Order {{orders.count}}</p></i>
                {% else %}
                    <i><p>Total Orders {{orders.count}}</p></i>
                {% endif %}
            </div>

            <div style="opacity: 1;">
                <br><br><img src="{% static 'images/sideimage2.jpg' %}" alt="" width="100%">
            </div>

        </div>

        <div style="background-color: rgb(222, 233, 245);width:70%;padding:4%;">
            <!-- <h1 style="padding-bottom: 2%;font-family: 'Poppins', sans-serif;letter-spacing:2px;">Orders Description</h1><br> -->
            {% if orders %}
                {% for order in orders %}

                    <div>
                        <span style="font-size: 16px;margin-right:1%;color:red">{{forloop.counter}})</span>
                        <b style="font-family: 'Montserrat', sans-serif;font-size:25px;color:rgb(9, 32, 61)">{{order.item|upper}}</b> <span style="font-size: 25px;font-family: 'Cabin', sans-serif;"> - ₹{{order.total}}</span> 
                        
                        <div style="padding:2% 5%;font-size:18px;opacity:0.8;letter-spacing:2px;">
                            <p style="font-family: 'Montserrat', sans-serif;text-transform:uppercase;padding:1%;">Live Updates</>
                            
                            <div style="padding:2% 3%;border:1px solid lightgrey;border-radius:5px;opacity:0.9;background-color:lightyellow">
                                <b><span style="font-family: 'Cabin', sans-serif;">{{order.status|slice:"0:28"}}</span></b><br>
                                <span style="font-family: 'Cabin', sans-serif;font-size:16px;">{{order.status|slice:"28:"}}</span>
                            </div>
                            
                        </div>

                    </div>
                    <hr>
                {% endfor %}

                <div style="display: block;text-align:center">
                    <br><br><img src="{% static 'images/horiimage.jpg' %}" alt="" width="80%" style="opacity: 0.98;">
                </div>

            {% else %}
                    <h1 style="color: crimson;text-align:center">NO ORDERS🙄</h1>
                    <div style="display: block;text-align:center">
                        <br><br><img src="{% static 'images/horiimage.jpg' %}" alt="" width="80%" style="opacity: 0.98;">
                    </div>
            {% endif %}

        </div>

    </div>


{% endblock content %}

{% block script %}
{% endblock script %}