{% extends 'base.html' %}
{% load static %}
{% block css %}
    <style>
        .link{
            color: rgb(197, 193, 193);
        }
        .link:hover{
            color: grey;
        }
        #content{
            padding-bottom:20%;
            background-color: rgb(240, 250, 250);
        }
        #images{
            background-color: rgb(250, 240, 250);
        }
        #main{
            background-color: #def7ef;
            background-color: #d9eeda;
        }
    </style>
{% endblock css %}

{% block content %}

    <nav class="navbar navbar-dark bg-info">
        <a href="/" class="navbar-brand">Be Bhukkad</a>
        <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-warning my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>

    <div style="width: 100%;height:25px;background-color:#f1ebeb;padding-left:8%;">
        <a href="/" class="link" style="font-size: 14px;">Home</a><span style="opacity: 0.5;">/</span><span style="font-size: 14px;opacity:0.9">{{location|title}}</span>
    </div>

    <div id="content">    
        <div id="images" style="display:flex;flex-direction:row;justify-content:space-evenly;height:100%;width:100%;color:white;padding:2%;">
            
            <div>
                <img style="transition: width 1s, height 1s, transform 1s;border:0px solid transparent; border-radius:4px;" src="{% static 'images/food_display.jpg' %}" class="transition1" alt="" height="220px" width="220px">
            </div>

            <div>
                <img style="transition: width 1s, height 1s, transform 1s;border:0px solid transparent; border-radius:4px;" src="{% static 'images/food_display2.jpg' %}" class="transition3" alt="" height="220px" width="220px">
            </div>

            <div>
                <img style="transition: width 1s, height 1s, transform 1s;border:0px solid transparent; border-radius:4px;" src="{% static 'images/food_display3.jpg' %}" class="transition4" alt="" height="220px" width="220px">
            </div>

            <div>
                <img style="transition: width 1s, height 1s, transform 1s;border:0px solid transparent; border-radius:4px;" src="{% static 'images/food_display4.jpg' %}" class="transition5" alt="" height="220px" width="220px">
            </div>

        </div>

        <div style="margin-top: 0%;"></div>

        <aside style="width:22%;position:absolute;margin:2%;border-radius:0px;padding:8px;background-image: transparent;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

                <img src="{% static 'images/sideimage3.jpg' %}" alt="" width="" style="width: 100%;opacity:0.89;margin-bottom:5%;">
        
                <img src="{% static 'images/sideimage4.jpg' %}" alt="" width="" style="width: 100%;opacity:0.89;margin-bottom:5%;">

                <img src="{% static 'images/sideimage5.jpg' %}" alt="" width="" style="width: 100%;opacity:0.89;">

        </aside>
        
        <div id="main" style="width: 73%;margin-left:26%;margin-top:2%;position:relative;border-radius:0px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div align="left" style="padding:2.4%;font-size:42px;letter-spacing:4px;text-decoration:underline;color:#092532;margin-left:2.4%;font-family: 'Maven Pro', sans-serif;font-weight:bold;">Available Restaurants</div>
            {% if restaurants %}
                <div style="display: flex;flex-direction:row;justify-content:space-evenly;padding-top:20px;">
                    {% for restaurant in restaurants %}
                        <div>
                            <div class="card" style="width: 16rem;background:transparent;background-image: -webkit-linear-gradient(90deg,#eaecb3 0%, #aef3b2 100%);">
                                <img style="padding:20px 20px 0px 20px;" src="{{restaurant.image.url}}"class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 style="font-family: 'Josefin Sans', sans-serif;font-weight:bold;letter-spacing:2px;margin-block-start: 0;
                                    margin-block-end:0;" class="card-title">{{restaurant.name}}</h4>
                                    <p style="font-family: 'Open Sans Condensed', sans-serif;" class="card-text">{{restaurant.services|title}} <br> {{restaurant.cuisines|title}}</p>

                                    <hr>
                                    <div style="display: flex;flex-direction:row;justify-content:space-between;opacity:0.7;">
                                        <div style="background-color: green;padding-left:5px;border:0px solid transparent;border-radius:2px;">
                                            <span style="color:white;">5<svg style="    margin-bottom: 5px;" width="2em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="white" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                            </svg></span>
                                        </div>

                                        <div style="background-color: #db6400;padding:2px;border:0px solid transparent;border-radius:2px;">
                                            <span style="color: #f8f1f1;font-family: 'Nerko One', cursive;text-transform:uppercase;">Best Deals</span>
                                        </div>

                                        <div>
                                            {% if restaurant.alcohol %}
                                                <abbr style="cursor: pointer;" title="Alcohol available"><img src="{% static 'images/alcohol.png' %}" alt="" style="height: 25px;width:25px;"></abbr>
                                            {% else %}
                                                <abbr style="cursor: pointer;" title="No alcohol"><img src="{% static 'images/noalcohol.png' %}" alt="" style="height: 25px;width:25px;"></abbr>
                                            {% endif %}
                                        </div>

                                    </div>

                                    <div align="center" class="quick_view">
                                        <hr>
                                        <a href="{{restaurant.name}}" class="btn btn-outline-info">Quick View</a>
                                    </div>

                                </div>
                            </div><br>
                        </div>
                    {% if forloop.counter|divisibleby:3 %}
                        </div><hr>
                        <div style="display: flex;flex-direction:row;justify-content:space-evenly;">
                    {% endif %}
                {% endfor %}
                </div><br><br>
            {% else %}
                no restaurants at this location
            {% endif %}
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script>

        $(".transition1").mouseover(function(){
            $(".transition1").css("width", "250px")
            $(".transition1").css("height", "250px")
        })
        $(".transition1").mouseout(function(){
            $(".transition1").css("width", "220px")
            $(".transition1").css("height", "220px")
        })
        $(".transition2").mouseover(function(){
            $(".transition2").css("width", "250px")
            $(".transition2").css("height", "250px")
        })
        $(".transition2").mouseout(function(){
            $(".transition2").css("width", "220px")
            $(".transition2").css("height", "220px")
        })
        $(".transition3").mouseover(function(){
            $(".transition3").css("width", "250px")
            $(".transition3").css("height", "250px")
        })
        $(".transition3").mouseout(function(){
            $(".transition3").css("width", "220px")
            $(".transition3").css("height", "220px")
        })
        $(".transition4").mouseover(function(){
            $(".transition4").css("width", "250px")
            $(".transition4").css("height", "250px")
        })
        $(".transition4").mouseout(function(){
            $(".transition4").css("width", "220px")
            $(".transition4").css("height", "220px")
        })
        $(".transition5").mouseover(function(){
            $(".transition5").css("width", "250px")
            $(".transition5").css("height", "250px")
        })
        $(".transition5").mouseout(function(){
            $(".transition5").css("width", "220px")
            $(".transition5").css("height", "220px")
        })
    </script>
{% endblock script %}