{% if restaurant %}
        {% if restaurant.confirm %}
            {% if status %}
                {% if messages %}
                    <div style="text-align: center;font-size:22px;padding-top:0%;">
                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="text-align: center;">
                            <strong style="text-align: center; letter-spacing:5px">Your restaurant is successfully registered with us.</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                {% else %}
                    <div style="text-align: center;font-size:22px;padding-top:6.5%;">
                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="text-align: center;">
                            <strong style="text-align: center; letter-spacing:5px">Your restaurant is successfully registered with us.</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                {% endif %}
            {% endif %}


            <div>
                <h3 style="font-weight: 500;font-family: 'Amatic SC', cursive;font-size: 40px;letter-spacing:5px;color: #393939;padding-left:2.5%;padding-top:2%;">Welcome back {{request.user.first_name}}!</h3>
                <hr>
            </div>

            <br>

            <div style="display: flex;flex-direction:row;justify-content:space-between;margin-left:5%;margin-right:5%;">
                <div style="height:180px;background: #00b5e9;width:20%;border:0px solid transparent;border-radius:3px;">
                    <div style="display: flex;flex-direction:row;justify-content:space-evenly;">
                        <div style="margin-left: 8%;margin-top:10%;">
                            <h2 style="color:white;padding-bottom:0;margin-bottom:0;font-family: 'Raleway', sans-serif;">{{totalorders}}</h2>
                            <p style="color:white;font-family: 'Space Grotesk', sans-serif;opacity:0.8;font-size:24px;letter-spacing:2px;">total orders</p>
                        </div>
                        <div style="margin-top:38%;opacity:0.5;overflow:hidden;padding-right:10px;">
                            <svg width="6em" height="6em" viewBox="0 0 16 16" class="bi bi-cart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div style="height:180px;background: #ff8300;width:20%;border:0px solid transparent;border-radius:3px;">
                    <div style="display: flex;flex-direction:row;justify-content:space-evenly;">
                        <div style="margin-left: 8%;margin-top:10%;">
                            <h2 style="color:white;padding-bottom:0;margin-bottom:0;font-family: 'Raleway', sans-serif;">{{totalitems}}</h2>
                            <p style="color:white;font-family: 'Space Grotesk', sans-serif;opacity:0.8;font-size:24px;letter-spacing:2px;">items</p>
                        </div>
                        <div style="margin-top:38%;opacity:0.5;overflow:hidden;padding-right:10px;">
                            <svg width="6em" height="6em" viewBox="0 0 16 16" class="bi bi-cart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div style="height:180px;background: #00b26f;width:20%;border:0px solid transparent;border-radius:3px;">
                    <div style="display: flex;flex-direction:row;justify-content:space-evenly;">
                        <div style="margin-left: 8%;margin-top:10%;">
                            <h2 style="color:white;padding-bottom:0;margin-bottom:0;font-family: 'Raleway', sans-serif;">{{totalorders}}</h2>
                            <p style="color:white;font-family: 'Space Grotesk', sans-serif;opacity:0.8;font-size:24px;letter-spacing:2px;">orders successfull</p>
                        </div>
                        <div style="margin-top:38%;opacity:0.5;overflow:hidden;padding-right:10px;">
                            <svg width="6em" height="6em" viewBox="0 0 16 16" class="bi bi-cart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div style="height:180px;background: #fa4251;width:20%;border:0px solid transparent;border-radius:3px;">
                    <div style="display: flex;flex-direction:row;justify-content:space-evenly;">
                        <div style="margin-left: 8%;margin-top:10%;">
                            <h2 style="font-family: 'Raleway', sans-serif;color:white;padding-bottom:0;margin-bottom:0">
                                ₹{{earning}}</h2>
                            <p style="color:white;font-family: 'Space Grotesk', sans-serif;opacity:0.8;font-size:24px;letter-spacing:2px;">profit</p>
                        </div>
                        <div style="margin-top:40%;opacity:0.5;overflow:hidden;padding-right:0px;">
                            <svg width="6em" height="6em" viewBox="0 0 16 16" class="bi bi-wallet2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

            <br><hr>

            <div style="display: flex;flex-direction:row;justify-content:space-evenly;margin-top:4%;">
                
                <div style="height: 100%;width:40%;background-color:#f1d4d4;border:0px solid transparent; border-radius:4px;color:#790c5a;overflow-y:auto;">
                    <h1 style="font-family: 'Architects Daughter', cursive;font-size:48px;text-align:center;margin-top:2%;margin-block-end:0px;text-decoration:underline;">ADD ITEM</h1>
                   
                    <div style="margin-top: 5%;margin-left:10%;margin-right:10%;margin-bottom:10%;">
                        <form action="additem/" method="POST" enctype='multipart/form-data'>
                            
                            <div class="form-group" style="padding-bottom: 5%;">
                              
                                <label for="itemName" style="font-family: 'Indie Flower', cursive;font-size:24px;color:#d7385e;font-weight:600;letter-spacing:2px;">Item Name</label>

                                <input type="text" name="name" class="form-control item" id="itemName" aria-describedby="itemName" placeholder="Pizza, Burger, Roti, Rice...." style="color: #790c5a;padding:5%;background-color:transparent;border:0px solid transparent;border-top:1.4px solid #e6739f;border-bottom:1.4px solid #e6739f;border-radius:0px;font-size:20px;font-family: 'Architects Daughter', cursive;" required>

                            </div>

                            <div class="form-group" style="padding-bottom: 5%;">
                                
                                <label for="description" style="font-family: 'Indie Flower', cursive;font-size:24px;color:#d7385e;font-weight:600;letter-spacing:2px;">Item Description</label>

                                <textarea name="description" class="form-control item" id="" cols="15" rows="1" name="description" placeholder="About dish...." style="color: #790c5a;padding:5%;background-color:transparent;border:0px solid transparent;border-top:1.4px solid #e6739f;border-bottom:1.4px solid #e6739f;border-radius:0px;font-size:20px;font-family: 'Architects Daughter', cursive;" required></textarea>

                            </div>

                            <div class="form-group" style="padding-bottom: 5%;">

                                <label for="price" style="font-family: 'Indie Flower', cursive;font-size:24px;color:#d7385e;font-weight:600;letter-spacing:2px;">Item Price</label>

                                <input type="number" name="price" id="" class="form-control item"  step="any" placeholder="Price in Rs.only...." style="color: #790c5a;padding:5%;background-color:transparent;border:0px solid transparent;border-top:1.4px solid #e6739f;border-bottom:1.4px solid #e6739f;border-radius:0px;font-size:20px;font-family: 'Architects Daughter', cursive;" required>

                            </div>

                            <div class="form-group" style="padding-bottom: 5%;">

                                <label for="itemCuisine" style="font-family: 'Indie Flower', cursive;font-size:24px;color:#d7385e;font-weight:600;letter-spacing:2px;">Item Diet</label>
                                <br>

                                <label style="font-size:20px;font-family: 'Architects Daughter', cursive;margin-left:10%" for="">Veg</label>
                                <input type="radio" style="margin-right:30%;" name="diet" id="" value="veg">
                                <label style="font-size:20px;font-family: 'Architects Daughter', cursive;" for="">Non-Veg</label>
                                <input type="radio" name="diet" id="" value="nonveg">

                            </div>

                            <div class="form-group" style="padding-bottom: 5%;">

                                <label for="itemCuisine" style="font-family: 'Indie Flower', cursive;font-size:24px;color:#d7385e;font-weight:600;letter-spacing:2px;">Item Cuisine</label>

                                <input type="text" class="form-control item"  name="cuisine" id="" placeholder="Indian, Chinese, Italian, South-Indian....." style="color: #790c5a;padding:5%;background-color:transparent;border:0px solid transparent;border-top:1.4px solid #e6739f;border-bottom:1.4px solid #e6739f;border-radius:0px;font-size:20px;font-family: 'Architects Daughter', cursive;" required>

                            </div>

                            <div class="form-group" style="padding-bottom: 5%;">

                                <label for="itemImage" style="font-family: 'Indie Flower', cursive;font-size:24px;color:#d7385e;font-weight:600;letter-spacing:2px;">Item Image</label><br>

                                <input type="file" class="item" name="image" id="" style="color: #790c5a;padding:5%;background-color:transparent;border:0px solid transparent;border-top:1.4px solid #e6739f;border-bottom:1.4px solid #e6739f;border-radius:0px;font-size:16px;font-family: 'Architects Daughter', cursive;" required>

                            </div>

                            <div style="text-align: center;">

                                <button style="font-family: 'Architects Daughter', cursive;background-color:#d7385e;border:none;padding-left:15%;
                                padding-right:15%;font-size:20px;" type="submit" class="btn btn-success">Add</button>

                            </div>
                            
                          </form>
                    </div>
                </div>
                
                <div style="height: 650px;width:50%;background-color:#d9ecf2;border:0px solid transparent; border-radius:4px;overflow-y:auto">
                    <h1 style="color:#1f3c88;font-family: 'Architects Daughter', cursive;font-size:48px;text-align:center;margin-top:2%;margin-block-end:0px;text-decoration:underline;">ITEMS</h1>

                    <div style="margin-top: 5%;margin-left:2%;margin-right:2%;margin-bottom:10%; ">
                        {% if items %}
                            
                            <table cellpadding="20px" align="center">
                                <thead>
                                    <tr>
                                        <th style="font-family: 'Indie Flower', cursive;font-size:28px;color:#ee6f57;font-weight:1200;letter-spacing:2px;text-decoration:underline">S.No.</th>
                                        <th style="font-family: 'Indie Flower', cursive;font-size:28px;color:#ee6f57;font-weight:1200;letter-spacing:2px;text-decoration:underline">Item Name</th>
                                        <th style="font-family: 'Indie Flower', cursive;font-size:28px;color:#ee6f57;font-weight:1200;letter-spacing:2px;text-decoration:underline">Cuisine</th>
                                        <th style="font-family: 'Indie Flower', cursive;font-size:28px;color:#ee6f57;font-weight:1200;letter-spacing:2px;text-decoration:underline">Price</th>
                                    </tr>
                                </thead>
                                <tbody style="text-align: center;">
                                    {% for item in items %}
                                        <tr style="font-family: 'Architects Daughter', cursive;font-size:20px;color:#1aa6b7;font-weight:bold;">
                                            <td>{{forloop.counter}}.</td>
                                            <td>{{item.name}}</td>
                                            <td>{{item.cuisine}}</td>
                                            <td>{{item.price}}</td>
                                        </tr>
                                    {% endfor %}        
                                </tbody>
                            </table>
                            
                        {% else %}

                        {% endif %}
                    </div>
                </div>

            </div>
            
            <br><hr>

        {% else %}
            <div class="alert alert-info alert-dismissible fade show" role="alert" style="text-align: center;">
                <strong style="text-align: center; letter-spacing:5px">Your request is still pending.</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
{% else %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="text-align: center;">
        <strong style="text-align: center; letter-spacing:5px">Your request is rejected.</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}